body {
    margin: 0;
    padding: 0;
}

#navbar{
    border: 1px solid red;
}

.navbar-container-left{
    border: 1px solid black;
}


.navbar-container-right{
    border: 1px solid green;
}

.navbar-container-right ul{
    list-style-type: none;
}