.bashliq-hisse {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.qutu {
    width: 5cm;
    height: cm;
    margin: 20px;
    padding: ;
}

. {
    display: flex;
    justify-content: space-between;

}
.button {
    background-color: darkred;
}
.govde-metn {
    display: ;
}