@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500;1,600&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Roboto+Slab:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: #282828;
  background: linear-gradient(#282828,#fff);
}

/* section start */
.page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* page1 start */
.logo{
  width: 13%;
  margin-top: 1%;
  text-align: center;
}
.logo img{
  height: 100px;
}
.logoName{
  text-align: center;
  margin-top: -5%;
}
.logoName img{
  height: 400px;
}
.main{
  background-image: url("/image/hotel.jpg");
  height: 100vh;
  width: 74%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu{
  clip-path: polygon(52% 28%, 100% 50%, 52% 71%, 0% 50%);
  background:rgba(249, 251, 252, 0.69);
  height: 50vh;
  background-position: center;
  position: relative;
  margin-top: -10%;
}
.main-nav{
  position: absolute;
  top:45%;
  left:20%;
}
.main-nav li{
  color:#141c75;
  font-size: 30px;
  font-weight: 500;
}

.main-nav li {
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

.main-nav li::after {
  content: "|";
  margin-left: 12px;
}

.main-nav li:last-child::after {
  content: "";
}

.welcome-div {
  display: flex;
  
}

.welcome-txt {
  transform: rotate(-11.25deg);
  color: white;
  font-size:65px;
  font-weight: 600;
  font-family:  'Andada Pro', serif;
}

/* @media(min-width:500px){
  .welcome-txt{
    color:yellow;
  }
} */
.languages{
  display: flex;
  width: 13%;
  justify-content: center;
}

.languages img{
  height: 50px;
  padding: 10px;;
}
/* page1 ended */

/* page2 start*/
.page2 {
  width: 89%;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  margin: 5%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height:1.5;
  color: #141c75;
}

.hostelinfo-right img{
  width: 100%;
  height: 60%;
  background-size: cover;
  border-radius: 20px;
}

.hostelinfo p{
  padding: 2rem 2rem 0 0;
}

.priority{
  display: grid;
  grid-template-columns: 50% 50%;
}

.priority ol{
  padding: 1rem 0 0 10rem;
}

.priority h2{
  padding: 1rem 0 0 3.5rem;
}

/* page2 end */

/* page3 start */

.page3{
  width: 89%;
  height: 100vh;
  margin:-7% auto;
}


.services .service-items{
  display: flex;
  margin: 0 400px;
}

.service-items img{
  width: 50%;
  height: 90px;  
  padding: 5px;
}

.reserve{
  display: grid;
  grid-template-columns: 45% 55%;
}

.reserve-info{
  margin-top: 4%;
  font-size: 20px;
}

.room-types{
  display: flex;
  justify-content:space-between;
  border: 1px solid #fff;
  border-radius: 5px;
  color:#008000;
  background-color: #fff;
}

.room-types h2{
  text-align: center;
  color: #ff0000;
  font-size:  30px;
  padding: 5% ;
}

.room-types ul{
  list-style-type: none;
}

.room-items{
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #808080;
  margin-top: .9%;
}
.room-items ul{
  list-style-type: none;
}

.room-pics{
  width: 700px;
  margin: 3.5% 10% 0 10%;
}

.big-image{
  height: 370px;
  overflow: hidden;
}

.big-image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.small-images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top:-40px;
}

.small-image{
  height: 150px;
  cursor: zoom-in;
}

.small-image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.small-image img:hover{
  border: 1px solid yellow;
}
/* page3 end */

/* page4 start */

.page4{
  width: 100%;
  height: 100vh;
  margin: 5% auto;
}

.booking-head{
  width: 50%;
  height: 100px;
  display: flex;
  text-align: center;
  margin: 0 400px;
}

.booking-head img{
  align-items: center;
  margin:1rem;
}

.reviews-container{
  width: 85%;
  height: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

.reviews-left{
  margin-right: 2rem;
}

.reviews-right{
  margin-left: 2rem;
}

.review-item{
  width: 100%;
  height: 220px;
}

.review-item img{
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

/* page4 end */

/* page5 start */

.page5{
  width: 100%;
  height: 100vh;
  margin-top: 5%;
  display:table;
}

.rate{
  width: 100%;
  height: 20%;
}

.rt-points{
  display: inline-flex;
  margin: 0 1rem;
}

.rt-points img{
  width: 100%;
  height: 150px;
}

.docs{
  display: inline-flex;
  text-align: center;
  height: 80%;
  width: 100%;
  margin-top: 1%;
}

.certificate{
  width: 100%;
  margin: 0 1rem;
}

.certificate img{
  width: 100%;
  height: auto;
}

.certificate video{
  width: 100%;
  margin: 50% 0;
}

/* page5 end */

/* page6 start */

.page6{
  width: 100%;
  height: 100vh;
  margin-top: 3%;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
}

.ganja-city{
	width: 90%;
	margin:0 auto;
}

.sightseeing{
	width:90%;
	margin:0 auto;
	padding: 1%;
  text-align: center;
}

.sightseeing a{
	margin:1rem;
  text-decoration: none;
}

.sightseeing a:hover{
  color: #008000;
  background-color:yellow;
  font-family: monospace;
}

.nizami{
	display:grid;
	grid-template-columns: 50% 50%;
  margin-top: 3%;
}

.monument-info{
  width: 100%;
  padding: 0 40px;
  
}

.monument-info p{
  width: 100%;
  text-align: justify; 
}
/* page6 end */

/* page7 start */
.page7{
  width: 100%;
  line-height: 1.8rem;
}

.payment{
  margin:0 5%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  width: 100vw;
}

.map iframe{
  border: 1px double white;
  margin-top: 2%;
  box-shadow: 5px 5px #ffff;
}

/* page7 */

/* footer */

footer{
  width: 100%;
  background-color: #282828;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.foot-nav{
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
}
.about{
  display: flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: center;
}
.foot-nav a{
  color:white;
  text-decoration: none;
  padding: 10% 0;
}
.item-right li{
  list-style-type: none;
}
.contact{
  display: flex;
  flex-direction: column;
  font-size: 36px;
  justify-content: center;
}
.contact-items{
  text-align: center;
  color:white;
}
.contact-items li{
  list-style-type:none ;
}
.contact-items p{
  font-size: 24px;
  margin-top: 8%;
}
.item-left{
  display: flex;
  flex-direction: row;
}
.item-left i:nth-child(1){
  font-size: 28px;
  color:green;
}
.item-left i:nth-child(2){
  font-size: 28px;
  color:green;
}
.item-left i:nth-child(3){
  font-size: 28px;
  color:hotpink;
}
.item-left ul{
  display: flex;
  padding-left: 5%;
  white-space: nowrap;
}
.item-left ul li span{
  font-size: 20px;
  font-weight: 600;
}
.icons{
  display: flex;
  flex-direction: column;
  padding-top: 8%;
}