* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  background-color: #282828;
  background: linear-gradient(#282828,#fff);
}
/* page1 start */
section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.logo{
  width: 13%;
  margin-top: 1%;
  text-align: center;
}
.logo img{
  height: 100px;
}
.logoName{
  text-align: center;
  margin-top: -5%;
}
.logoName img{
  height: 400px;
}
.main{
  background-image: url("/image/hotel.jpg");
  height: 100vh;
  width: 74%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-menu{
  clip-path: polygon(52% 28%, 100% 50%, 52% 71%, 0% 50%);
  background:rgba(249, 251, 252, 0.69);
  height: 50vh;
  background-position: center;
  position: relative;
  margin-top: -10%;
}
.main-nav{
  position: absolute;
  top:45%;
  left:20%;
}
.main-nav li{
  color:#141c75;
  font-size: 30px;
  font-weight: 500;
}
/* 
section.page1 {
  color: #fff;
}

.slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* .slider img {
  height: 100%;
  width: auto;
  display: block;
} */

/* .header, .nav-div {
  height: 33%;
} */

.main-nav li {
  display: inline-block;
  list-style: none;
  margin: 0 4px;
}

.main-nav li::after {
  content: "|";
  margin-left: 12px;
}

.main-nav li:last-child::after {
  content: "";
}

.welcome-div {
  display: flex;
}

.welcome-txt {
  transform: rotate(-11.25deg);
  color: white;
  font-size:65px;
  font-weight: 600;
}

/* @media(min-width:500px){
  .welcome-txt{
    color:yellow;
  }
} */
.languages{
  display: flex;
  width: 13%;
  /* flex-direction: row; */
  justify-content: center;
}

.languages img{
  height: 50px;
  padding: 10px;;
}
/* page1 ended */

/* page2 start*/
.page2 {
  width: 89%;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  margin: 5%;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  line-height:1.5;
  color: #141c75;
}

.hostelinfo-right img{
  width: 100%;
  height: 60%;
  background-size: cover;
  border-radius: 20px;
}

.hostelinfo p{
  padding: 2rem 2rem 0 0;
}

.priority{
  display: grid;
  grid-template-columns: 50% 50%;
}

.priority ol{
  padding: 1rem 0 0 10rem;
}

.priority h2{
  padding: 1rem 0 0 3.5rem;
}

/* .time span{
  border: 1px solid black;
  margin-left: 500px;
} */

/* page2 end */

/* page3 start */

.page3{
  width: 89%;
  height: 100vh;
  margin:-7% auto;
}


.services .service-items{
  display: flex;
  margin: 0 400px;
}

.service-items img{
  width: 50%;
  height: 90px;  
  padding: 5px;
}

.reserve{
  display: grid;
  grid-template-columns: 45% 55%;
}

.reserve-info{
  margin-top: 4%;
  font-size: 20px;
}

.room-types{
  display: flex;
  justify-content:space-between;
  border: 1px solid #fff;
  border-radius: 5px;
  color:#008000;
  background-color: #fff;
}

.room-types h2{
  text-align: center;
  color: #ff0000;
  font-size:  30px;
  padding: 5% ;
}

.room-types ul{
  list-style-type: none;
}

.room-items{
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: #808080;
  margin-top: .9%;
}
.room-items ul{
  list-style-type: none;
}

.room-pics{
  width: 700px;
  margin: 3.5% 10% 0 10%;
}

.big-image{
  height: 370px;
  overflow: hidden;
}

.big-image img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.small-images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  margin-top:-40px;
}

.small-image{
  height: 150px;
  cursor: pointer;
}

.small-image img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
/* page3 end */

/* page4 start */

.page4{
  width: 89%;
  height: 100vh;
  margin: 5% auto;
  border: 1px solid red;
}

.booking-head{
  width: 50%;
  height: 100px;
  /* border: 1px solid green; */
  display: flex;
  text-align: center;
  margin: 0 400px;
}

.booking-head img{
  height: auto;
  align-items: center;
  width: auto;
  /* border: 1px solid yellow; */
  /* object-fit: cover; */
  /* padding: 1rem; */
  margin:1rem;
}

.booking-review{
  border: 1px solid green;
  width: 98.4%;
  /* height: auto; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

