@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Roboto+Slab:wght@300;400;600&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Head start */
.header{
    border: 1px solid red;
    display:flex;
    align-items:center;
    justify-content:space-between;
    /* line-height: 1.5; */
    padding: 2rem 5rem;
    background-color: #ffff;
    /* position: fixed; */
    font-size: 100%;
    width: 100%;
    height: auto;
    text-transform:capitalize;
    /* font-weight:normal; */
}
 .navbar a{
    color:black;
    padding:0 1.5rem;
 }

.icons ul i{
    padding: 0 1.5rem;
}
/* Head end */

/* Slider area */

.slider-area{
    border: 1px solid green;
    background-color: #f0f2f2;
    
}

.slider-area-items{
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   
}

.slider-area-items img{
    /* border: 1px solid black; */
    margin: 0 1rem;
}

.item-intr{
    margin: 0 5rem;    
}
 .item-intr p{
     color: #212025;
 }
 .item-intr h1{
    font-size: 96px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 26px;
 }

 .item-intr button{
     color: white;
     background-color: red;
     margin-top: 1.5rem;
     width: 15em;
     height: 3em;
 }

 /* Slider area end */

 /* Items start */
.time-zone-items{
    margin: auto;
    /* padding: 10rem 30rem; */
}

 .items-content{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: auto;
     gap: 15px;
 }

 .container{
     /* width: 100%; */
    padding: 10rem 20rem;
 }

 .container h1{
     padding: 0 0 3rem 0;
 }

 .item-info h3{
     font: 700 24px;
     text-align: center;
     margin: 15px;
 }

 .item-info span{
     font: 500 20px;
     color:#ff2020;
     font-family: "Josefin", sans-serif;
 }

 .item-info{
    text-align: center;
     /* width: 100%;
     object-fit: cover; */
 }


/* Items end */
 /* Blocks start */

 .blocks-container{
     display: grid;
     grid-template-columns: 50% 50%;
     gap: 10px;
     /* position: absolute; */
 }

 .block-left{
     margin: 0;
     padding: 0;
     width: 100%;
     /* position: relative; */
     top: 0;
     left: 0;
 }

  .block-right{
      display: grid;
      grid-template-columns: 50% 50%;
      /* column-gap: 1rem; */
  }

.blocks-container img{
    width: 100%;
    object-fit: cover;
  }

  /* Blocks end */

  /* Popular-items start */

  .popular-items{
      /* position: relative; */
      border: 1px solid green;
      padding: 10rem; 
  }

  .popular-items-content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column: 1/4;
      /* align-items: center; */
      margin: 0;
  }

  .items-container{
    text-align: center;    
  }

  .for-sale img{
      border-bottom: 1px dashed red;
  }