* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#eduguard{
    margin: 100px none;
    padding: 100px;
    background: rgba(235,235,242,0.7);
   width: 1300px;
   height: 450px;
}

.eduguard-container{
    margin: none;
    
  
}
.eduguard-header{ 
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0 auto;
}
.eduguard-content-item{
    border: 1px solid #ebebf2;
    background-color: #fff;
    display: block;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    
}
.eduguard-content-item i{
    flex-direction: column;
    margin-bottom: 30px;
}
.eduguard-content-row{
    display: flex;
    justify-content:space-between;
}
.eduguard-content-item p{
    display: block;
}
.eduguard-content-item h1{
    color: #202029;
    margin-bottom: 10px;
}