* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#eduguard{
    background: rgba(235,235,242,0.7);
   width: 100vw;
   height: 100vh;
}


.eduguard-header{ 
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0 auto;
}
.eduguard-content-item{
    border: 1px solid #ebebf2;
    background-color: #fff;
    padding: 50px;
    width: 400px;
    border-radius: 10px;
    
}
.eduguard-content-item i{
    margin-bottom: 30px;
}
.eduguard-content-row{
    max-width: 1250px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
}

.eduguard-content-item h1{
    color: #202029;
    margin-bottom: 10px;
}