/* used fonts */

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500;1,600&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Oswald:wght@500&family=Roboto+Slab:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500;1,600&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Oswald:wght@500&family=Roboto+Slab:wght@300;400;600&family=Sansita+Swashed:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@1,500;1,600&family=Josefin+Sans:ital,wght@0,400;1,300;1,400&family=Oswald:wght@500&family=Poppins:ital,wght@1,200&family=Roboto+Slab:wght@300;400;600&family=Sansita+Swashed:wght@500&display=swap');


/* reset */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}    

html{
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body{
    width: 100%;
    height: 100vh;
}

/* navbar */

.container{
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    background-color: #8abb6a;
}

.navbar{
    height: 15%;
    display: flex;
    align-items: center;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    font: 16px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    transition: 1s;
}

nav ul li a:hover{
    color: #0000ff;
    
}

/* room  image */

.room-img{
    width:100%;
    height:50vh;
    position: relative;
}

.room-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.room-img span{
    font-size: 50px;
    font-family: 'Sansita Swashed', sans-serif;
    color:#fd7444;
    position: absolute;
    top: 30%;
    left: 10%;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color:#8abb6a; 
    min-height: 100px;
    padding: 20px 50px;
    flex-direction: column;
}


footer .social-icon,
footer .menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 10px 0;
}

footer .social-icon li,
footer .menu li
{
    list-style: none;
}

footer .social-icon li a,
footer .menu li a
{
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    font-size: 2rem;
    transition: 0.5s;
}

footer .social-icon li a:hover{
    transform: translate(-10px);
}

footer .menu li a{
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #f7f5f2;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}