<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Hostel</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <section>
        <div class="container">
            <div class="navbar">
                <a href="home.html"><img src="image/loco_1-removebg-preview.png" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="home.html">HOME</a></li>
                        <li><a href="room.html">ROOMS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                        <li><a href="city.html">CITY</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- city image -->
        <div class="room-img">
            <img src="image/gnj.jpg" alt="">
            <span>Şəhəri</span>
            <span><br>bizimlə tanıyın</span>
        </div>

        <div class="about">
            <div class="about-info">
                <h1>Nizami Gəncəvi məqbərəsi</h1>
                <p>Dahi Azərbaycan şairi Nizami Gəncəvinin məqbərəsi anadan olduğu Gəncə şəhərinin yaxınlığında yerləşir. Məqbərənin hündürlüyü 22,4 metrdir. En kəsiyi milli ornamentə uyğun olaraq 8 guşəlidir. Abidənin daxilində, onun lap aşağı hissəsində şairin sərdabası yerləşir. İlk sərdabənin tikintisi 13-14-cü əsrlərə aid edilir. Seyyid Əzim Şirvani 1879-cu ildə məhz bu türbəni ziyarət etmişdi. Türbə Mirzə Adıgözəl bəy Qarabaği və Əsgərağa Goraninin təşəbbüsü ilə təmir edilib. Daha sonra General Yadigarzadə tərəfindən bərpa etdirilib. 
                    1947-ci ildə şairin dağılmış qədim məzarı üstündə Nizami məqbərəsi - şairi anadan olmasının 750-ci ildönümünə həsr edilmiş abidə ucaldılıb. Məqbərə 1990-1991-ci illərdə yenidən qurulub. 
                    Məqbərənin yaxınlığında ölməz şairin yaratdığı əsərləri tərənnüm edən tuncdan abidə yerləşir.
                    </p>
            </div>
            <div class="gallery">
                <a href="image/Nizami10.JPG">
                    <img src="image/Nizami10.JPG" alt="">
                </a>
    
                <a href="image/nizami6.jpg">
                    <img src="image/nizami6.jpg" alt="">
                </a>
    
                <a href="image/800px-Nizami_məqbərəsi_yanında_Adil_Nuşirəvan_ilə_vəzirin_heykəli.jpg">
                    <img src="image/800px-Nizami_məqbərəsi_yanında_Adil_Nuşirəvan_ilə_vəzirin_heykəli.jpg" alt="">
                </a>
    
                <a href="image/800px-Nizami_məqbərəsi_yanında_Nüşabə_və_İskəndər_heykəli.jpg">
                    <img src="image/800px-Nizami_məqbərəsi_yanında_Nüşabə_və_İskəndər_heykəli.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="about">
            <div class="gallery">
                <a href="image/1280px-Şah_Abbas_meydanı.jpg">
                    <img src="image/1280px-Şah_Abbas_meydanı.jpg" alt="">
                </a>
    
                <a href="image/1024px-Ganja_ShahAbbasMosque_004_5730.jpg">
                    <img src="image/1024px-Ganja_ShahAbbasMosque_004_5730.jpg" alt="">
                </a>
    
                <a href="image/mosque.jpg">
                    <img src="image/mosque.jpg" alt="">
                </a>
    
                <a href="image/Shah_Abbas_mosque_in_Ganja_1.jpg">
                    <img src="image/Shah_Abbas_mosque_in_Ganja_1.jpg" alt="">
                </a>
            </div>
            <div class="about-info">
                <h1>Şah Abbas məscidi</h1>
                <p>Məscid 1606-cı ildə şah Abbasın göstərişi ilə Gəncənin yeni mərkəzi yaradılarkən inşa edilib. Məscid çox möhkəm bünövrə üzərində tikilib. Kifayət qədər güclü olub xeyli tikililərə ağır xəsarət yetirən məşhur Gəncə zəlzələləri Şah Abbas məscidinə təsir göstərə bilməyib. Bəzi yazılarda səhvən Şah Abbas məscidi ticarət məscidi, tatar məscidi, fars məscidi də adlandırılıb.
                Məşhur memar Şeyx Bahəddin Məhəmməd Amilinin planı üzrə inşa edilən Şah Abbas məscidinin Gəncədəki digər məscid abidələrinə xas olmayan bir sehri var. Belə ki, günün günortasında,saat 13:00-da binanın qərb divarına düşən kölgə itir ki, keçmişdə insanlar bununla günorta namazının başlama vaxtını bilərdilər. Maraqlı məqamlardan biri də, məscidin daxilində tikildiyi gündən bəri spesfik bir ətrin olmasıdır ki, bu gün də onu hiss etmək mümkündür.
                Şah Abbas məscidi came olaraq tikilib, üstündəki kitabədə də adı bu cür qeyd olunub. Came isə məscidin ən düzgün adıdır.
                Məscid və minarələr bişmiş çiy kərpicdən tikilib. Məscidin əvvəllər mövcud olan mədrəsəsi dağıdılıb. </p>
            </div>
        </div>

        <div class="about">
            <div class="gallery">
                <a href="image/lake.webp">
                    <img src="image/lake.webp" alt="">
                </a>
    
                <a href="image/GoyGol.jpg">
                    <img src="image/GoyGol.jpg" alt="">
                </a>
    
                <a href="image/fall.webp">
                    <img src="image/fall.webp" alt="">
                </a>
    
                <a href="image/rocks.jpg">
                    <img src="image/rocks.jpg" alt="">
                </a>
            </div>

            <div class="about-info">
                <h1>Göy-göl</h1>
                <p>Göy-göl Kəpəz dağının ətəyində, səfalı bir guşədə yerləşir. Onun ətrafında daha 7 eyni mənşəli göl vardır. Uçqunların əmələ gətirdiyi bənd nəticəsində Göy-göl, Maral-göl, Zəli-göl, Ağ-göl, Şamlı-göl, Ördək-göl, Ceyran-göl, Qara-göl gölləri yaranmışdır. Göygöl dəniz səviyyəsindən 1556 metr yüksəklikdə yerləşir. Su aynasının sahəsi 80 hektara yaxındır. Gölün uzunluğu 2450 m, eni 595 m, ən dərin yeri 95 m-dir. Buradakı təmiz, şəffaf suyun həcmi 24 mln kub m-ə çatır.
                    Maral-göl dəniz səviyyəsindən 1902 m yüksəklikdə yerləşir, sahəsi 23 hektardır, ən dərin yeri 60 m-dir. Göy-göldən fərqli olaraq, onun ətrafını subalp çəmənlikləri əhatə edir.
                    </p>
            </div>
        </div>

        <div class="about" style="margin-bottom: 5%">
            <div class="about-info">
                <h1>Heydər Əliyev Park-Kompleksi</h1>
                <p>Heydər Əliyev Park-Kompleksi dünyanın ən 5 beş parkından biridir. Ümumi sahəsi 450 hektar olan park-kompleksinin əhatə etdiyi ərazidə İncəsənət Muzeyi, Amfiteatr, süni göl yaradılıb. Parkda on minlərlə ağac və gül-çiçək kolları əkilib. Uzunluğu 2 kilometrdən çox olan nəhəng park-kompleks hər zaman cəlbedicidir. Payızda da, qışda da bahar ömrü yaşayan çınar ağaclarının ən nadir növləri parka xüsusi əzəmət verir.
                    Parkın girişində ziyarətçiləri 38 metr hündürlüyündə möhtəşəm “Zəfər Tağı” qarşılayır. Park-Kompleksinin açılışı 2014-cü ilin yanvarın 21-də baş tutub. Bu gün Gəncə sakinlərinin və Gəncəyə qonaq gələn insanların əsas istirahət məkanlarından olan parkda bunun üçün hər cür şərait var.</p>
            </div>
            <div class="gallery">
                <a href="image/Heyder-Aliyev-Park-Kompleks.jpg">
                    <img src="image/Heyder-Aliyev-Park-Kompleks.jpg" alt="">
                </a>
    
                <a href="image/spring.jpg">
                    <img src="image/spring.jpg" alt="">
                </a>
    
                <a href="image/Heydər_Əliyev_Parkı_-_Gəncə,_Azərbaycan.jpg">
                    <img src="image/Heydər_Əliyev_Parkı_-_Gəncə,_Azərbaycan.jpg" alt="">
                </a>
    
                <a href="image/1280px-Ilham_Aliyev_attended_the_opening_of_the_Heydar_Aliyev_Park_Complex_and_the_Heydar_Aliyev_Center_in_Ganja_20.jpg">
                    <img src="image/1280px-Ilham_Aliyev_attended_the_opening_of_the_Heydar_Aliyev_Park_Complex_and_the_Heydar_Aliyev_Center_in_Ganja_20.jpg" alt="">
                </a>
            </div>
        </div>

    </section>

    <!-- footer -->
    <footer>
        <ul class="social-icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="home.html">HOME</a></li>
            <li><a href="room.html">ROOMS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="city.html">CITY</a></li>
        </ul>
        <p>2022 All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <!-- Gallery -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>

    <script>
        let gallery = document.querySelectorAll(".gallery");
        for(let i= 0;i<gallery.length;i++){
            lightGallery(gallery[i]);
        }
    </script>
     
 </section>
 <a href="#" style="position: fixed;display: block;right: 20px; bottom: 20px; width: 50px;height: 50px;background-color: #444349;border-radius: 10px;font-size: 50px;line-height: 50px;text-align: center;color: #ffdc79;text-decoration: none;">^</a>
</body>
</html>