<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VM Hostel</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css">
</html>
</head>
<>
    <section>
        <!-- navbar -->
        <div class="container">
            <div class="navbar">
                <a href="home.html"><img src="image/loco_1-removebg-preview.png" class="logo"></a>
                <nav>
                    <ul>
                        <li><a href="home.html">HOME</a></li>
                        <li><a href="room.html">ROOMS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                        <li><a href="city.html">CITY</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- contact image -->
        <div class="room-img">
            <img src="image/title_bg.jpg" alt="">
            <span>Contacts</span>
        </div>

        <!-- map -->

        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1799.1364970152677!2d46.3461726052133!3d40.678929313828974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403f51cdb7f2fd67%3A0xd09f3a4972f76bae!2sVM%20Hostel!5e0!3m2!1sde!2s!4v1644350586640!5m2!1sde!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

            <!-- contact details -->

        <div class="get-contact">
            <div class="contact-txt">
                <div class="contact-box">
                    <div class="box-icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="box-txt">
                        <h3>Ünvan</h3>
                        <p>Gəncə ş. Şotarustaveli küç.42
                        </p>
                    </div>
                </div>

                <div class="contact-box">
                    <div class="box-icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="box-txt">
                        <h3>Telefon</h3>
                        <p>+994 50 793 21 27</p>
                        <p>+994 55 344 43 83</p>
                    </div>
                </div>

                <div class="contact-box">
                    <div class="box-icon"><i class="fa-solid fa-at"></i></div>
                    <div class="box-txt">
                        <h3>Email</h3>
                        <p>vmhostell@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="contact-email">
                <form onsubmit="sendEmail(); reset(); return false;">
                    <h1>Get In Touch</h1>
                    <input type="text" id="name" placeholder="Enter your name*" required>
                    <input type="email" id="email" placeholder="Enter your email*" required>
                    <textarea type="text" id="message" rows="5" placeholder="Enter your message*" required></textarea>
                    <button type="submit">Send message</button>
                </form>
            </div>
        </div>

    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="app.js"></script>

      <!-- footer -->
     <footer>
        <ul class="social-icon">
            <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
            <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        </ul>
        <ul class="menu">
            <li><a href="home.html">HOME</a></li>
            <li><a href="room.html">ROOMS</a></li>
            <li><a href="contact.html">CONTACT</a></li>
            <li><a href="city.html">CITY</a></li>
        </ul>
        <p>2022 All Rights Reserved</p>
    </footer>
    <a href="#" style="position: fixed;display: block;right: 20px; bottom: 20px; width: 50px;height: 50px;background-color: #444349;border-radius: 10px;font-size: 50px;line-height: 50px;text-align: center;color: #ffdc79;text-decoration: none;">^</a>
</body>
</html>